<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.mrkip.apps.weatherarchive">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--TODO clear not used code [+]-->

        <activity
            android:name=".activities.CitiesCurrentWeatherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.CityLastMonthWeatherActivity"/>
        <activity android:name=".location.LocationActivity"/>
        <activity android:name=".activities.PlaceSelectionActivity">

        </activity>

    </application>

</manifest>